{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <!-- vue.js files -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'vuejsfunc.js' %}"></script>

    <style>
        body {
            font-size: 40px;
            background-color: green;
            color: #fff;
        }
    </style>
</head>
<body>
    <div id="app">
        [[ message ]]
    </div>

    <h1>hello world</h1>
            
</body>
</html>